<div class="flex">

  <p-card *ngFor="let producto of productos" [header]="producto.nombre" [style]="{ width: '360px', margin: '10px' }">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="producto.img" />
    </ng-template>
    <p>
       {{producto.descripcion}}
    </p>
    <p>
      Puja actual: <span *ngIf="producto.puja > producto.pujaInicial">{{producto.puja}}</span> <span *ngIf="producto.pujaInicial > producto.puja">{{producto.pujaInicial}}</span>
    </p>
    <ng-template pTemplate="footer">
        <input pInputText [(ngModel)]="puja" inputId="pujaInicial">
        <p-button class="btn-puja" label="Pujar" icon="pi pi-check" (click)="pujar(producto)"></p-button>
    </ng-template>
</p-card>

</div>
