<div class="login">
   <img src="././././assets/images/login/imagenSubasta.png" alt="login image" class="login-img">
   <form 
[formGroup]="loginForm"
class="login-form"
>
<h1 class="login-title">Inicio de sesión</h1>

<div class="login-content">

   <div class="login-box">
      <i class="ri-user-3-line login-icon"></i>

      <div class="login-box-input">
         <input type="text" required class="login-input" id="login-user" formControlName="email" placeholder="">
         <label for="login-user" class="login-label">Email</label>
      </div>
   </div>

   <div class="login-box">
      <i class="ri-lock-2-line login-icon"></i>

      <div class="login-box-input">
         <input [type]="visible ? 'text' : 'password'" required class="login-input" id="login-pass" formControlName="password" placeholder="">
         <label for="login-pass" class="login-label">Contraseña</label>
         <i [ngClass]="!loginForm.value.password ? '' : visible ? 'pi pi-eye-slash' : 'pi pi-eye'" class="login-eye" id="login-eye" (click)="onClickPasswordEye()"></i>
      </div>
   </div>
</div>

<div class="login-check">
   <div class="login-check-group">
      <input type="checkbox" class="login-check-input" id="login-check">
      <label for="login-check" class="login-check-label">Recordar credenciales</label>
   </div>

   <a href="#" class="login-forgot">¿Has olvidado la contraseña?</a>
</div>

<div class="login-info">
  <p-message *ngIf="loginStatus === 'error'" severity="error" text="Error" ></p-message>
  <p-message *ngIf="loginStatus === 'authenticating'" severity="info" text="Cargando..."></p-message>
</div>


<button 
  type="submit" 
  [disabled]="!loginForm.valid"
  class="login-button"
  (click)="onSubmit()"
  >
  Iniciar sesión <i *ngIf="loginStatus === 'authenticating'" class="pi pi-spin pi-spinner"></i>
</button>

<p class="login-register">
   ¿No tienes una cuenta? <a [routerLink]="['/auth/registro']" routerLinkActive="router-link-active" >Registrate</a>
</p>
</form>
</div>